

<div>
  <h2>{{greeting}}</h2>
    <!-- <fieldset>
        <label>Name:
          <input [(ngModel)]="dayOverview.employees">
        </label>
      </fieldset> -->
  <p *ngIf="isBusy">Nacitavam</p>
  <ul *ngIf="dayOverview">
    <h2>Zapisany zamestnanci</h2>
    <li *ngFor="let employee of dayOverview.employees">
      <label>{{employee.name}}</label> <br/>
      <i>Planovany zaciatok smeny: {{employee.plannedShiftStart | date:'shortTime' }}</i>  
    </li>

    <h2>Dnesne eventy</h2>
    <li *ngFor="let event of dayOverview.events">
      <label>{{event.name}}</label>  <br/>
      <label>Povinnosti</label>  
      <ul>
        <li *ngFor="let task of event.tasks">
          {{task}}
        </li>
      </ul>

    </li>
  </ul>

</div>